:root {
  --purple-intance: #cb81ff;
  --bg: #fce2ff;
  --purple-dim: #eacdff;
  --mint: #d4fae6;
  --c201: #201b10;
  --gray-dark: #787878;
  --gray-light: #c0c0c0;
  --orange: #ff5f00;
  --yellow: #fce300;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--bg);
}
